<%- include('./partials/head') %>

    <body>
        <div id="root"></div>
        <h1>
            <%= title %>
        </h1>
        <h2> <a href="http://localhost:8000/menu/all">All</a></h2>
        <div class="card-holder">
            <h3>
                <%= meal.name %>
            </h3>
            <p><a href="http://localhost:8000/menu/category/<%= meal.category %>">
                    <%= meal.category %>
                </a></p>
            <p>
                <%= meal.subcategory %>
            </p>
            <p>$<%= meal.price %>
            </p>
            <button id="update-product-btn">Edit</button>
            <button type="button" id="delete-product-btn" value=<%=meal.id %> >Delete</button>
        </div>
        <button id="new-product-btn">New</button>
        <%- include('./partials/new-product-form') %>
        <%- include('./partials/update-product-form') %>
    </div>
    </body>

    </html>